<h1>Startups</h1>
<div class="row">
  <div class="span6">
    <h3>Bluemoonlist</h3>
    <%= image_tag "bluemoonlist.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <%= link_to "website", "http://bluemoonlist.com" %>
    <p>
      Automated calling service that connects users to service providers (plumbers, electricians, etc.)
    </p>
    <p>
      Rails 4.0 - Twilio
    </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Ratr</h3>
    <%= image_tag "ratr.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <%= link_to "github web", "https://github.com/ncrandall/ratr" %><br />
    <%= link_to "github server", "https://github.com/ncrandall/ratr" %>
    <p>
      Live sentiment analysis tool. Think social &quot;Dial-O-Meter&quot;
    </p>
    <p>
      Node.js - Socket.io - Express.js
    </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Scratchproof Jackets</h3>
    <%= image_tag "spjackets.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <p>
      Screen Protector product. We produce the best quality protectors for a fraction of what our competitors charge.
    </p>
    <p>
      Magento - not currently active, though we still make screen protectors.
      <%= link_to "contact me", contact_path %> with your phone and I'll cut you one :)
    </p>
  </div>
</div>
<br /><br /><br />
<h1>Work Experience</h1>
<div class="row">
  <div class="span6">
    <h3>Elase</h3>
    <%= image_tag "learningsuite.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <%= link_to "website", "http://lsinfo.byu.edu/" %>
    <p>
      Implemented Exams portion of a Learning Management System built from
      scratch on top of Zend in a SOA. Built Student and Professor side
      of administering online quizes to grading tests.
    </p>
    <p>
      PHP, Zend Framework, RESTful Services, UI / UX, HTML, Javascript
    </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Pujbaby.com</h3>
    <%= image_tag "pujbaby.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <%= link_to "website", "http://pujbaby.com" %>
    <p>
      Implemented plugin and fixes to shopping card.
      Built new design from templates
    </p>
    <p>
      PHP, Wordpress
    </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Elase</h3>
    <%= image_tag "elase.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <%= link_to "website", "http://elase.com" %>
    <p>
      Converted PSD into fully functional wordpress theme.
      Implemented dynamic contact and plugins custom to their needs
    </p>
    <p>
      PHP, Wordpress 
    </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Comparemedcosts</h3>
    <%= image_tag "comparemedcosts.png" %>
  </div>
  <div class="span3">
    <h3> - </h3>
    <%= link_to "website", "http://comparemedcosts.com" %>
    <p>
      Created a static landing page for client.
    </p>
    <p>
      Static HTML, CSS
    </p>
  </div>
</div>