<div class="left-menu-fixed">
  <h1 class="name"><%= link_to "Nicholas Crandall", root_path %></h1>
  <ul class="nav">
    <li><a href="/about">about<span <%= menu_class_style('about') %>></span></a></li>
    <li><a href="/portfolio">portfolio<span <%= menu_class_style('portfolio') %>></span></a></li>
    <li><a href="/posts">blog<span <%= menu_class_style('blog') %>></span></a></li>
    <li><a href="/contact">contact<span <%= menu_class_style('contact') %>></span></a></li>
  </ul>
</div>