<div>
  <h1 class="name"><%= link_to "Nicholas Crandall", root_path %></h1>
  <ul class="nav">
    <li><a href="/blog">blog<span <%= menu_class_style('blog') %>></span></a></li>
    <li><a href="/contact">contact<span <%= menu_class_style('contact') %>></span></a></li>
    <li><a href="/freelance">freelance<span <%= menu_class_style('freelance') %>></span></a></li>
    <li><a href="/projects">rails<span <%= menu_class_style('projects') %>></span></a></li>
    <li><a href="/startups">entrepreneurship<span <%= menu_class_style('startups') %>></span></a></li>
  </ul>
</div>