<!DOCTYPE html>
<html>
<head>
  <title>Nicholas Crandall - Entrepreneur / Rails Developer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="wrap">
      <div class="left-column">
        <%= render 'layouts/menu' %>
        <%= render 'layouts/footer' %>
      </div>
      <div class="right-column">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
</body>
</html>
