<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <%= render 'layouts/menu' %>
        </div>
    		<div class="span10">
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
